<h1>New task for <%=current_user.username%></h1>
<div class="small-3 columns">
<%= form_for @task, url:{action: "create"} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label :due_date %><br>
    <%= f.date_field :due_date, required: true %>
  </p>
 
  <p>
    <button class = "button">Create</button>
  </p>
<% end %>
</div>
<%= link_to 'Back', user_path(@user) %>

