<% @user = User.new %>
<%= form_for @user, url: {action: "create", :controller=>"sessions"} do |f| %>
	<div class="login field">
	  <%= f.label :email %>:
	  <%= f.email_field :email, placeholder: "email" %>
	</div>
	<div class="login field">
	  <%= f.label :password %>:
	  <%= f.password_field :password, placeholder: "password" %>
	</div>
	<div class="login field">
	  <%= f.submit "Login" %>
	</div>
<% end %>
