 <ul>
    <%= form_for(:user, :url => {:controller => 'session', :action => 'login'}) do |f|%>
        <li><%= f.email_field :email, :size => 70, placeholder: 'Email' %></li>
        <li><%= f.password_field :password, :size => 70, placeholder: 'Password' %></li>
          <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
          <% end %>
                <br>
          <button class="btn btn-primary btn-block" id="login_button">Log in</button>
          <% end %>
</ul>
<ul >
 <%= form_for(:user, :url => {:controller => 'user', :action => 'create'}) do |f|%>
    <li><%= f.text_field :username, :size => 70, placeholder: 'Username' %></li>
    <li><%= f.text_field :phone, :size => 70, placeholder: 'phone' %></li>
    <li><%= f.email_field :email, :size => 70, placeholder: 'Email' %></li>
    <li><%= f.password_field :password, :size => 70, placeholder: 'Password' %></li>
    <li><%= f.password_field :password_confirmation, :size => 70, placeholder: 'Confim Password' %></li>
    <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
          <% end %>
    <button class="btn btn-primary btn-block" id="signup_enter">Sign up</button>
    <% end %>
</ul>