<p>Hello, <%=current_user.username%></p>

<table>
	<tr>
		<th>Title</th>
		<th colspan="2"></th>
	</tr>	

	<% @tasks.each do |task| %>
	<tr>
	  <td><%= task.title.capitalize %></td>
	  <td><%= link_to 'Show', user_task_path(@user,task)%></td>
	  <td><%= link_to 'Edit', edit_user_task_path(@user,task) %></td>
	  <td><%= link_to 'Destroy', user_task_path(@user, task),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<%end%>
</table>


<button class = "button">
<%= link_to 'New task', new_user_task_path(@user)%>
</button>